* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    user-select: none;
}

:root {
    --accent-color-100: rgba(255, 158, 126, 0.9);
    --accent-color-300: rgba(255, 100, 50, 1);
    --background-gray-100: rgba(0, 0, 0, .1);
    --background-gray-200: rgba(0, 0, 0, .2);

    --border-radius: 10px;
}

hr {
    height: 3px;
    border: none;
    background-color: black;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loader.active {
    display: block;
}

.loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 2em;
    background-color: white;
    z-index: 99999;
    text-align: center;
}

.loader p {
    
    margin-bottom: 1em;
}

.loader .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    font-size: 1.25em;
    text-align: center;
}

.loader .content-container {
    max-width: 90%;
    border: 3px solid black;
    border-radius: var(--border-radius);
    transition: transform 150ms ease-in-out;
    cursor: pointer;
}

.loader .content-container:hover {
    transform: translateY(-5px);
}

.loader .content-container img {
    width: 400px;
    max-width: 100%;
}

.load-icon {
    display: inline-block;
    border: 5px solid white;
    border-top: 5px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: rotate 1s linear infinite;
}

#camera {
    display: block;
    position: relative;
    width: 75vw;
    height: 50vh;
    overflow: hidden;
    overflow-y: hidden;
    image-rendering: pixelated;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: var(--border-radius);
    background-color: var(--background-gray-200);
}

.camera-controls {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 10;
    border-style: solid;
    border-color: black;
    border-radius: var(--border-radius) 0 0 0;
    border-width: 3px 0 0 3px;
    background-color: white;
    transform: translateX(150px) translateY(185px);
    transition: 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.camera-controls:hover {
    transform: translateX(0) translateY(0);
}

.camera-controls-header {
    display: flex;
    margin: .25rem;
}

.camera-controls-header>p {
    display: none;
}

.camera-controls .material-icons {
    text-align: left;
    width: 60%;
}

.camera-controls-body {
    margin: 1rem;
}

.camera-controls-body>* {
    width: 100%;
    display: block;
}

.camera-controls-body button {
    padding: .75rem 1rem;
    background-color: transparent;
    border: 3px solid black;
    border-radius: var(--border-radius);
    background: none;
    font-size: 1rem;
    transition: 150ms ease-in-out;
}

.camera-controls-body button:hover {
    background-color: var(--accent-color-100);
}

.camera-controls-body label {
    font-size: .9rem;
}

.camera-controls-body .slider-container {
    display: flex;
    justify-content: space-between;
}

.camera-controls-body .slider-container span {
    width: 1rem;
}

.camera-controls-body input[type=range] {
    align-self: center;
    height: 15px;
    -webkit-appearance: none;
    background: var(--background-gray-100);
    outline: none;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.camera-controls-body input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--accent-color-300);
    cursor: pointer;
    border: 4px solid var(--accent-color-300);
    box-shadow: -410px 0 0 400px var(--accent-color-100);
}

.camera-controls:hover>.camera-controls-header>p {
    display: inline-block;
}

.camera-controls:hover .material-icons {
    text-align: right;
}

#position-container {
    position: absolute;
}

#zoom-container {
    transform-origin: center;
    position: relative;
}

.header {
    margin-top: 2em;
    text-align: center;
}

.analyse-controls {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.analyse-controls button {
    padding: 1rem 3rem;
    background-color: var(--accent-color-100);
    border: 5px solid var(--accent-color-300);
    border-radius: var(--border-radius);
    font-weight: 700;
    transition: all 150ms ease-in-out;
}

.analyse-controls button:hover {
    background-color: var(--accent-color-300);
    color: #f1f1f1;
}

.stats {
    width: 75vw;
    margin: 0 auto;
}

.stats-header {
    text-align: center;
    margin: 1rem;
}

.stats-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

.stat-container {
    display: flex;
    justify-content: flex-start;
    flex: 1 0 21%;
    margin: .25rem;
    cursor: pointer;
}

.stat-display {
    max-width: 100px;
    max-height: 100px;
    padding: .5rem;
    image-rendering: pixelated;
    background-color: var(--background-gray-100);
    border-radius: var(--border-radius);
}

.stat-body {
    display: inline-block;
    padding-left: .5rem;
}

.extra-stats h1 {
    text-align: center;
    margin: 1rem;
}

.extra-stats div {
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.extra-stats .stat {
    padding: 1em;
    border-radius: var(--border-radius);
    border: 3px solid black;
}

footer {
    width: 90vw;
    margin: 4em auto 1em auto;
}

footer span {
    font-size: .75em;
}

/* Mobile Devices (Smartphones) */
@media screen and (max-width: 767px) {

    #camera,
    .extra-stats div {
        width: 90vw;
    }
}