* {
    margin: 0; padding: 0; font-family: Poppins, sans-serif; user-select: none;
}

:root {
    --accent-color-100: rgba(255, 158, 126, 0.9);
    --accent-color-300: rgba(255, 100, 50, 1);
}

hr {
    height: 3px;
    border: none;
    background-color: black;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.load-icon {
    display: inline-block;
    border: 5px solid white;
    border-top: 5px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: rotate 1s linear infinite;
}

#camera {
    display: block;
    position: relative;
    width: 75vw;
    height: 50vh;
    overflow: hidden;
    overflow-y: hidden;
    image-rendering: pixelated;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgba(0,0,0,.4);
}

.camera-controls {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 10;
    border-style: solid;
    border-color: black;
    border-radius: 10px 0 0 0;
    border-width: 3px 0 0 3px;
    background-color: white;
    transform: translateX(160px) translateY(130px);
    transition: 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.camera-controls:hover {
    transform: translateX(0) translateY(0);
}

.camera-controls-header {
    display: flex;
    margin: .25rem;
}

.camera-controls-header > p {
    display: none;
}

.camera-controls .material-icons {
    text-align: left;
    width: 60%;
}

.camera-controls-body {
    margin: 1rem;
}

.camera-controls-body > * {
    width: 100%;
    display: block;
}

.camera-controls-body button {
    padding: .75rem 1rem;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
    background: none;
    font-size: 1rem;
    transition: 150ms ease-in-out;
}

.camera-controls-body button:hover {
    background-color: var(--accent-color-100);
}

.camera-controls-body label {
    font-size: .9rem;
}

.camera-controls-body #overlay-slider {
    height: 15px;
    -webkit-appearance: none;
    background: rgba(0,0,0,.1);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}
  
.camera-controls-body #overlay-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--accent-color-300);
    cursor: pointer;
    border: 4px solid var(--accent-color-300);
    box-shadow: -410px 0 0 400px var(--accent-color-100);
}

.camera-controls:hover > .camera-controls-header > p {
    display: inline-block;
}

.camera-controls:hover .material-icons {
    text-align: right;
}

#position-container {
    position: absolute;
}

#zoom-container {
    transform-origin: center;
    position: relative;
}

.header {
    text-align: center;
}

.analyse-controls {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.analyse-controls button {
    padding: 1rem 3rem;
    background-color: var(--accent-color-100);
    border: 5px solid var(--accent-color-300);
    border-radius: 10px;
    font-weight: 700;
    transition: all 150ms ease-in-out;
}

.analyse-controls button:hover {
    background-color: var(--accent-color-300);
    color: #f1f1f1;
}